<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find my_spot)/config/my_spot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/my_spot" args="joint_state_controller
					  joint1_position_controller_left_front
					  joint2_position_controller_left_front
					  joint3_position_controller_left_front

					  joint1_position_controller_left_rear
					  joint2_position_controller_left_rear
					  joint3_position_controller_left_rear

					  joint1_position_controller_right_front
					  joint2_position_controller_right_front
					  joint3_position_controller_right_front

					  joint1_position_controller_right_rear
					  joint2_position_controller_right_rear
					  joint3_position_controller_right_rear"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/my_spot/joint_states" />
  </node>

</launch>
